<!DOCTYPE html>
<html lang="en" ng-app="webApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <script src='//localhost:3000/socket.io/socket.io.js'></script>
    <script src='../js/jquery-2.1.0.min.js'></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>Life Without Limits</title>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">Life Without Limits</a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="navbar-right">
            </div>
            <form class="navbar-form navbar-right" ng-controller="UserController" ng-submit="loginUser()" action="">
                <div class="form-group">
                    <input type="text" ng-model="email" id="email" name="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" ng-model="password" id="password" name="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Login</button>
                <input type="hidden" name="_csrf" value="{{ _csrf }}">
            </form>
            <!--<% } %>-->
        </div>
        <div class="navbar-collapse collapse">
            <div class="navbar-right">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form  class="form-signin" ng-controller="UserController" ng-submit="newUser()">
        <label>Name:</label>            
        <input type="text" ng-model="name" required class="form-control" />
        <label>Email:</label>            
        <input type="text" ng-model="email" required class="form-control" />
        <label>Password:</label>
        <input type="password" ng-model="password" min="6" max="14" class="form-control" />
        <label>Confirmation:</label>
        <input type="password" ng-model="confirmation" min="6" max="14" class="form-control" />
        <input class="btn btn-lg btn-primary btn-block button-newUser" type="submit" value="Save" ng-click="newUser()" />
    </form>
</div>
<hr>
<footer>
    <div class="col-xs-12 col-sm-9">
        <h3> Footer web application</a> </h3>
    </div>
</footer>
</body>
</html>